<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <!--if there is not a title rendered it uses "welcome to microblog"-->
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>
          Microblog: 
          <a href="{{ url_for('index')}}">Home</a>
          {% if current_user.is_anonymous %}
          <!--checks if the current user is not logged in-->
          <a href="{{ url_for('login')}}">Login </a>
          {% else %}
          <a href="{{ url_for('logout')}}">Logout </a>
          {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        <!-- using "with" construct to assign the result of calling get_flashed_messages() to a messages variable-->
        {% if messages %}
        <!-- checks if messages has content-->
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- this block is used to display flashed messages to the user -->
        {% block content %}{% endblock %}
        <!-- the block named content will be replaced by child templates -->
    </body>
</html>