<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--this makes the site reponsive on mobile devices-->
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <!--if there is not a title rendered it uses "welcome to microblog"-->
      <title>{{ _('Welcome to Microblog') }}</title>
      {% endif %}
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
      >
      <!--this loads the bootstrap from a CDN, provides styling for the navbar, buttons, alerts and the layout-->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <!--this navbar expands on large screens and collapses on mobile-->
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('index') }}">Microblog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!--in the navbar div we include the following items-->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('explore') }}">Explore</a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
          {% if current_user.is_anonymous %}
          <!--checks if the current user is not logged in-->
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('login') }}">Login</a>
          </li>
            {% else %}
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
            </li>
          <!--link to the profile page of the current user-->
          {% endif %}
        </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
        {% with messages = get_flashed_messages() %}
        <!-- using "with" construct to assign the result of calling get_flashed_messages() to a messages variable-->
        {% if messages %}
        <!-- checks if messages has content-->
        <ul>
          {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- this block is used to display flashed messages to the user -->
        {% block content %}{% endblock %}
        <!-- the block named content will be replaced by child templates -->
      </div>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">

    </script>
    <!--this is the JS for the bootstrap, it enables the navbar toggle, the dropdowns and the modals -->
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }} <!--this sets the language for moment.js-->
    <!--to ensure the moment library is always available, we add it to the base template-->
    <!--instead of adding a script tag that imports the library, this function generates the script tag -->
    <script>
        //async indicates that the function operates asynchronously and may use the await keyword to pause execution until a promise is resolved
        async function translate(sourceElem, destElem, sourceLang, destLang) 
        // this is the JS function that handles the translation of post content 
        // it takes four arguments: sourceElem(the HTML ID of the element containing the original text), destElem(the HTML ID of the element where the translated text will be displayed, "Translate" link),
        // sourceLang(the language code of the original text, "en"), and destLang(the language code for the translation, "es")
        {
          document.getElementById(destElem).innerHTML =
          //this finds the element referenced by destElem, replaces its contents with an <img> tag 
          // we use innerHTML to insert HTML content (the loading spinner) into the element
          "<img src=\"{{ url_for('static', filename='loading.gif') }}\">"; // shows a loading spinner while the translation is in progress
          //fetch is used to make an async HTTP request to the server
          const response = await fetch('/translate', 
          // this sends a POST request to the /translate endpoint(route)
          {
            method: 'POST', // specifies that the request method is POST
            headers: {'Content-Type': 'application/json; charset=utf-8'}, // sets the content type to JSON
            body: JSON.stringify({
              //converts the javascript object into json text that flask can read 
              text: document.getElementById(sourceElem).innerText, source_language: sourceLang, dest_language: destLang
            })
          })
          const data = await response.json(); // this waits for the response and parses it as JSON
          //await pauses execution until the promise returned by response.json() is resolved, without await response would not contain usable data
          document.getElementById(destElem).innerText = data.text;
          // this gets the translated text from the response and updates the innerText of the destination element
        }
    </script>
  </body>
</html>